#tutto{
    background-color: #ffffff;
    align-items: center;
    display: flex;
    flex-direction: column ;
    margin-inline: 250px;

}
body {
    background-color: #cecece;
    align-items: center;
}
navbar {
    display: flex;
    flex-direction: row;
}

a{
    text-decoration: none;
}
h4 {
    padding: 30px;
    color: rgb(255, 255, 255);
    background-color: green;
}
.riquadriinserimento {
    background-color: rgb(197, 196, 196);
     margin: 10px;
}

aside {

}
article {
      text-align: left; 
}


#corpocentr {
    display: grid;
    grid-template-columns: 2.5fr, 1fr;
    
}
header {
    align-items: center;
}
.immagini {
    size: 50%;
}

p {
    margin-inline: 30px;
}

