#tutto{
    background-color: #ffffff;
    align-items: center;
    display: flex;
    flex-direction: column ;
    margin-inline: 250px;

}
body {
    background-color: #cecece;
}
navbar {
    display: flex;
    flex-direction: row;
}
h3 {
    padding: 30px;
    color: rgb(255, 255, 255);
    background-color: green;
}

aside {

}

#corpocentr {
    display: grid;
    grid-template-columns: 2.5fr, 1fr;
}
header {
    align-items: center;
}

p {
    margin-inline: 30px;
}

